@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Rubik', serif;
  line-height: 1.5;
  
}
a {
  text-decoration: none;
  color: rgb(154,155,155);
}

.mobile {
  display: none;
}

.header-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(25,27,29);
  align-items: center;
  font-family: 'Rubik', serif;
}

.header-name {
  font-size: 35px;
  color: white;
  font-weight: 500;
  padding-left: 50px;
}

.disclaimer {
  color: gray;
  font-size: 1vw;
}

.nav-link-ctn {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  color: rgb(154,155,155);
}

.nav-link {
  font-family: 'Rubik', serif;
  font-weight: 300;
  cursor: pointer;
}

.nav-link:hover {
  color: white;
}

.homepage {
  overflow: hidden;
}

.home-ctn {
  box-sizing: border-box;

  height: 75.9vh;
  color: rgb(154,155,155);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgb(25,27,29);
  
}

.intro-ctn {
  width: 40%;
  margin-top: 100px;
}

.intro-name {
  
  font-size: 4vw;
  color: white;
}

.intro-summary {
  font-weight: 300;
  font-size: 2.4vw;
}

.btn {
  color: white;
  height: 75px;
  width: 220px;
  font-size: 25px;
  background-color: rgb(75,108,193);
  border-radius: 75px;
  border-style: none;
  font-family: 'Rubik', serif;
  transition: all 200ms ease-in;
  cursor: pointer;
  outline: none;
}

.project-btn:hover {
  background-color: rgb(25,27,29);
  border-style: solid;
  border-color: rgb(75,108,193);
}

.picture-ctn {
  height: 38vw;
  width: 32vw;
  background-color: rgb(19,20,22);
  border-radius: 5px;
  min-width: 295px;
  min-height: 350px;
}

.profile-picture {
  position: relative;
  top: 4vw;
  display: block;
  object-fit: cover;
  height: 38vw;
  width: 24vw;
  margin-left: auto;
  margin-right: auto;
  
  min-width: 220px;
  min-height: 350px;
  border-radius: 5px;
  
}

.featured-projects-ctn-ctn {
  width: 100vw;
  overflow: hidden;
}

.diagonal {
  width: 0;
  height: 0;
  border-top: 10.5vh solid rgb(25,27,29);
  border-left: 100vw solid transparent;
  
}

.mobile-title {
  display: none;
}

.featured-project-title {
  font-family: 'Rubik', serif;
  font-size: 25px;
  font-weight: 500;
  color: rgb(126,126,126);
  margin-left: 50px;
  
}

.under-line {
  height: 4px;

  background-color: rgb(248, 244, 244);
  margin-left: 50px;
  margin-right: 50px;
}

.third-underline {
  margin-top: 100px !important;
}

.featured-project-ctn {
  display: flex;
  justify-content: space-between;
  color: rgb(126,126,126);
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  
}

.img-ctn {
  padding-top: 4vw;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  width: 55vw;
  height: 35vw;
  background-color: rgb(228, 228, 228);
  align-items: center;
  border-radius: 5px;
}

.trick-creator {
  width: 45vw;
  box-shadow: -5px 5px 5px rgb(160, 160, 160);
  
  border-radius: 5px;
}

.featured-project-summary-ctn {
  width: 33vw;
}

.featured-project-name {
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.featured-project-summary {
  color: rgb(80, 79, 79);
  font-weight: 300;
}

.more-info {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.computer-svg {
  height: 17px;
  margin-right: 20px;
}

.lightbulb {
  height: 20px;
  margin-right: 15px;
}

.project-details {
  margin-top: 30px;
}

.project-details:hover {
  color: rgb(75,108,193);
  background-color: white;
  border-color: rgb(75,108,193);
  border-style: solid;
}

.underlines {
  margin-top: 50px;
}

.contact-ctn {
  overflow: hidden;
  position: relative;
  
}

.left-diagonal {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 10.5vh solid rgb(25,27,29);
  border-left: 100vw solid transparent;
  margin-bottom: 50px;
  margin-top: 100px;
  
}

.contact-wrapper {
  margin-top: -50px;
  height: 300px;
  width: 100%;
  background-color: rgb(25,27,29);
  text-align: center;
}

.contact-me {
  color: white;
}

.cont-info {
  color: rgb(140,141,142);
  
  margin: 0;
}

.full-page-yelp-ctn {
  margin: auto;
  text-align: center;
}

.yelp-intro {
  
  width: 100%;
  background-color: rgb(25,27,29);
  font-size: 50px;
  color: white;
}

.full-page-yelp {
  width: 90%;
  border-style: solid;
  border-color: rgb(211, 208, 208);
  border-width: 30px 15px;
  border-radius: 5px;
}

.test {
  display: flex;
  justify-content: center;
}

.redirect {
  position: relative;
  top: 500px;
}

@media screen and (max-width: 950px) {

  

  

  .title-left-desktop {
    display: none;
  }

  .featured-project-ctn {
    flex-direction: column;
    align-items: center;
  }

  .mobile-title {
    display: block;
    text-align: center;
  }

  .title-right-desktop {
    display: none;
  }

  .yelp-summary {
    margin-top: 50px;
    
  }

  .invision-summary {
    margin-top: 50px;
  }

  .trick-creator-summary {
    margin-top: 150px;
  }

  .featured-project-summary {
    text-align: center;
    
    
  }


} 

@media screen and (max-width: 900px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header-ctn-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(25,27,29);
  }

  .header-ctn-mobile h1 {
    color: white;
  }

  .hamburger-icon-ctn {
    position: relative;
    z-index: 20;
    margin-right: 0;
  }

  .hamburger-open {
    background-color: black;
  }

  .hamburger-closed {
    background-color: white;
  }

  .hamburger-icon {
    width: 30px;
    height: 5px;
    margin-top: 2px;
    
  }

  @keyframes menuSlide {
    from {
      width: 0
    }

    to {
      width: 50%;
    }
  }

  @keyframes menuSlideOut {
    from {
      width: 50%
    }

    to {
      width: 0;
    }
  }

  .opened {
    animation: menuSlide .25s ease-in;
  }

  .closing {
    animation: menuSlideOut .25s ease-in;
  }

  .closed {
    
    display: none;
  }

  .nav-link-ctn-mobile {
    position: absolute;
    color: rgb(154,155,155);
    top: 0;
    right: 0;
    background-color: white;
    width: 50%;
  }

  .nav-link-mobile {
    margin-left: 10px;
    margin-top: 30px;
  }

  .home-ctn-mobile {
    margin-top: 0;
    background-color: rgb(25,27,29);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-ctn-mobile {
    margin: 20px;
    color: white;
  }

  .intro-ctn-mobile h1 {
    
    margin: 0;
    font-size: 35px;
  }

  .intro-summary-mobile {
    color: rgb(154,155,155);
    font-size: 28px;
    
  }

  .picture-ctn-mobile {
    margin-top: 25px;
  }

  .profile-picture-mobile {
    width: 80vw;
    height: 120vw;
    object-fit: cover;
    border-radius: 3px;
  }

  .diagonal {
    top: -60px;
  }

  .img-ctn {
    width: 80vw;
    height: 65vw;
  }

  .trick-creator {
    width: 70vw;
  }

  .featured-project-summary-ctn {
    width: 70vw;
  }

}

@media screen and (max-width: 425px) {

  .cont-info {
    font-size: 5.5vw;
  }
}