@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Rubik', serif;
  line-height: 1.5;
  
}
a {
  text-decoration: none;
  color: rgb(154,155,155);
}

.header-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(25,27,29);
  align-items: center;
  font-family: 'Rubik', serif;
}

.header-name {
  font-size: 35px;
  color: white;
  font-weight: 500;
  padding-left: 50px;
}

.nav-link-ctn {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  color: rgb(154,155,155);
}

.nav-link {
  font-family: 'Rubik', serif;
  font-weight: 300;
  cursor: pointer;
}

.nav-link:hover {
  color: white;
}

.home-ctn {
  box-sizing: border-box;

  height: 75.9vh;
  color: rgb(154,155,155);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgb(25,27,29);
}

.intro-ctn {
  width: 40%;
  margin-top: 100px;
}

.intro-name {
  font-size: 50px;
  color: white;
}

.intro-summary {
  font-weight: 300;
  font-size: 30px;
}

.btn {
  color: white;
  height: 75px;
  width: 220px;
  font-size: 25px;
  background-color: rgb(75,108,193);
  border-radius: 75px;
  border-style: none;
  font-family: 'Rubik', serif;

}

.picture-ctn {
  height: 500px;
  width: 400px;
  background-color: rgb(19,20,22);
  border-radius: 5px;
}

.profile-picture {
  position: relative;
  top: 50px;
  left: 50px;
  object-fit: cover;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  
}

.featured-projects-ctn-ctn {
  width: 100vw;
  overflow: hidden;
}

.diagonal {
  width: 150vw;
  height: 150px;
  background-color: rgb(25,27,29);
  position: relative;
  z-index: -10;
  top: -35px;
  transform: rotate(5deg);
  overflow: hidden;
}


.featured-project-title {
  font-family: 'Rubik', serif;
  font-size: 25px;
  font-weight: 500;
  color: rgb(126,126,126);
  margin-left: 50px;
  
}

.under-line {
  height: 4px;

  background-color: rgb(248, 244, 244);
  margin-left: 50px;
  margin-right: 50px;
}

.third-underline {
  margin-top: 100px !important;
}

.featured-project-ctn {
  display: flex;
  justify-content: space-between;
  color: rgb(126,126,126);
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.img-ctn {
  padding-top: 4vw;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  width: 55vw;
  height: 35vw;
  background-color: rgb(228, 228, 228);
  align-items: center;
  border-radius: 5px;
}

.trick-creator {
  width: 45vw;
  box-shadow: -5px 5px 5px rgb(160, 160, 160);
  
  border-radius: 5px;
}

.featured-project-summary-ctn {
  width: 33vw;
  
 
}

.featured-project-name {
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.featured-project-summary {
  color: rgb(80, 79, 79);
  font-weight: 300;
}

.more-info {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

.computer-svg {
  height: 17px;
  margin-right: 20px;
}

.lightbulb {
  height: 20px;
  margin-right: 15px;
}

.project-details {
  margin-top: 30px;
}

.underlines {
  margin-top: 50px;
}

.contact-ctn {
  overflow: hidden;
}

.left-diagonal {
  margin-top: 100px;
  position: relative;
  height: 20vh;
  width: 150vw;
  background-color: rgb(25,27,29);
  transform: rotate(-5deg);
  overflow: hidden;
  z-index: -5;
}

.contact-wrapper {
  margin-top: -50px;
  height: 300px;
  width: 100%;
  background-color: rgb(25,27,29);
  text-align: center;
}

.contact-me {
  color: white;
}

.cont-info {
  color: rgb(140,141,142);
}

@media screen and (min-width: 1600px) {
  .diagonal {
    transform: rotate(3deg);
  }
}